
.aesthetica11y__button {
  cursor: pointer;
  position: relative;
  z-index: 99;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid rgba(31, 120, 209, 0.5);
  border-radius: 0.25rem;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: 0;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  transition: 300ms;

  &:hover {
    transform: translateX(-0.25rem);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    opacity: 0.85;
    background: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.3rem 0.8rem;
    white-space: nowrap;
    border-radius: 0.25rem;
    margin-top: 9px;
    text-decoration: none;
  }

  &:hover::before,
  &:focus::before {
    display: block;
  }

  /* left tooltip */
  &[data-placement="left"]::before {
    border: 1px solid #7491f0;
    bottom: 0;
    left: 125%;
    padding: 0.25rem 0.5rem;
    box-shadow: 0px 8px 6px -2px rgba(28, 28, 28, 0.15);
  }
}
  

  

  
