.aesthetica11y-list {
    position: absolute;
    left: -0.5rem;
    list-style: none;
    margin: 0;
    z-index: 2000;

  &__item {
    position: relative;
    margin-bottom: 0.25rem;
    z-index: 2000;
    animation: drop 500ms ease-in;

    // Prevent control panel styles from being applied
    font-size: initial !important;
    font-family: initial !important;
    line-height: 1.25 !important;
    letter-spacing: initial !important;
  }
} 