/* Colors
#1F78D1 - AA - 4.50 */

*:focus {
  outline: none;
  box-shadow: 0 0 0 1px #EAFCFF,0 0 0 3px #1C1C1C !important;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Dyslexie";
  src: url(../font/OpenDyslexic-Regular.otf) format("opentype");
}