@import 'icons';

@keyframes drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Dyslexie";
  src: url(../assets/font/OpenDyslexic-Regular.otf) format("opentype");
}

.panel {
  &__main-button {
    position: fixed;
    z-index: 99;
    cursor: pointer;
    border: none;
    background-color: white;
    left: 1.875rem;
    top: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0px 8px 6px -2px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-position: center center;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237491f0' height='42' width='42' viewBox='0 0 512 512'%3E%3Cpath d='M256 48c114.953 0 208 93.029 208 208 0 114.953-93.029 208-208 208-114.953 0-208-93.029-208-208 0-114.953 93.029-208 208-208m0-40C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 56C149.961 64 64 149.961 64 256s85.961 192 192 192 192-85.961 192-192S362.039 64 256 64zm0 44c19.882 0 36 16.118 36 36s-16.118 36-36 36-36-16.118-36-36 16.118-36 36-36zm117.741 98.023c-28.712 6.779-55.511 12.748-82.14 15.807.851 101.023 12.306 123.052 25.037 155.621 3.617 9.26-.957 19.698-10.217 23.315-9.261 3.617-19.699-.957-23.316-10.217-8.705-22.308-17.086-40.636-22.261-78.549h-9.686c-5.167 37.851-13.534 56.208-22.262 78.549-3.615 9.255-14.05 13.836-23.315 10.217-9.26-3.617-13.834-14.056-10.217-23.315 12.713-32.541 24.185-54.541 25.037-155.621-26.629-3.058-53.428-9.027-82.141-15.807-8.6-2.031-13.926-10.648-11.895-19.249s10.647-13.926 19.249-11.895c96.686 22.829 124.283 22.783 220.775 0 8.599-2.03 17.218 3.294 19.249 11.895 2.029 8.601-3.297 17.219-11.897 19.249z'/%3E%3C/svg%3E ");
    transition: all 200ms linear;
    
    &:hover {
      transform: translateY(-0.4rem);
      box-shadow: 0px 8px 6px -2px rgba(0, 0, 0, 0.15);
    }

    &[aria-expanded="false"] + .panel__container {
      display: none;
    }

    &[aria-expanded="true"] + .panel__container {
      display: block;
      position: fixed;
      z-index: 2000;
      top: 5rem;
      left: 0;
    }

    &::before {
      content: attr(aria-label);
      position: absolute;
      display: none;
      opacity: 0.85;
      background: #000;
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.3rem 0.8rem;
      white-space: nowrap;
      border-radius: 0.25rem;
      margin-top: 9px;
      text-decoration: none;
    }

    &:hover::before {
      display: block;
    }

    /* top tooltip */
    &[data-placement="top"]::before {
      border: 1px solid #EAFCFF;
      bottom: 0.25rem;
      left: 125%;
      padding: 0.25rem 0.5rem;
      box-shadow: 0px 8px 6px -2px rgba(28, 28, 28, 0.15);
    }
  }

  &__list {
    position: absolute;
    left: -0.5rem;
    list-style: none;
    margin: 0;
    z-index: 2000;
  } 

  &__list-item {
    position: relative;
    margin-bottom: 0.25rem;
    z-index: 2000;
    animation: drop 500ms ease-in;

    // Prevent control panel styles from being applied
    font-size: initial !important;
    font-family: initial !important;
    line-height: 1.25 !important;
    letter-spacing: initial !important;
  }

  &__button {
    cursor: pointer;
    position: relative;
    z-index: 99;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid rgba(31, 120, 209, 0.5);
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    transition: 300ms;
  
    &:hover {
      transform: translateX(-0.25rem);
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
  
    &::before {
      content: attr(aria-label);
      position: absolute;
      display: none;
      opacity: 0.85;
      background: #000;
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.3rem 0.8rem;
      white-space: nowrap;
      border-radius: 0.25rem;
      margin-top: 9px;
      text-decoration: none;
    }
  
    &:hover::before,
    &:focus::before {
      display: block;
    }
  
    /* left tooltip */
    &[data-placement="left"]::before {
      border: 1px solid #7491f0;
      bottom: 0;
      left: 125%;
      padding: 0.25rem 0.5rem;
      box-shadow: 0px 8px 6px -2px rgba(28, 28, 28, 0.15);
    }
  }
}