---
layoutFile: default
---
<main class="cmp-container">
  <section class="cmp-blog">
    <h1 class="cmp-blog__title">Thoughts</h1>
    <div class="cmp-blog__post">
    <span class="cmp-blog__color cmp-blog__clipboard"></span>
    <div class="cmp-blog__content">
      <h2 class="cmp-blog__content-title">Learning A11y Through Testing</h2>
      <p>If I have learned anything during this time, it's that releasing control is one of the most important things
        a front end web developer can do. </p>
      <a class="cmp-blog__link" href="#">read more</a>
    </div>
    </div>

    <div class="cmp-blog__post">
      <div class="cmp-blog__color cmp-blog__users"></div>
      <div class="cmp-blog__content">
        <h2 class="cmp-blog__content-title">Impasta Syndrome</h2>
        <p> still think there must have been a mix up. I mean, there has to be a karen ling or a corinne smith out
          there, and gmail autocorrected it to my email address when they sent the congrats email. </p>
        <a class="cmp-blog__link" href="#">read more</a>
      </div>
    </div>
  </section>
</main>