.heart-container
  .hearts.tooltip-button(aria-describedby="health-hearts" aria-label="hearts")
    .heart.filled-on-load(data-heart-number="1")
    .heart.filled-on-load(data-heart-number="2")
    .heart.filled-on-load(data-heart-number="3")
    .heart(data-heart-number="4")
    .heart(data-heart-number="5")
    .heart(data-heart-number="6")
    .heart(data-heart-number="7")
    .heart(data-heart-number="8")
    .heart(data-heart-number="9")
    .heart(data-heart-number="10")
    .heart(data-heart-number="11")
  span.tooltip.header-tooltip(role="alert" aria-live="polite" id="health-hearts") 3 of 11 hearts filled