.heart-container
  button.hearts.tooltip-button(aria-describedby="health-hearts" aria-label="hearts")
    .heart.filled(data-heart-number="1")
    .heart.filled(data-heart-number="2")
    .heart.filled(data-heart-number="3")
    .heart(data-heart-number="4")
    .heart(data-heart-number="5")
    .heart(data-heart-number="6")
    .heart(data-heart-number="7")
  span.tooltip.header-tooltip(role="alert" aria-live="polite" id="health-hearts") 3 of 7 hearts filled