.intro
  h2 Web Developer
  p 5 years experience
  .stats
    p
    .bonus.clothing-bonus
      button.clothing-bonus__button(aria-label="weather (connect to a weather app api to get the temperature in dayton)")
    .bonus.clothing-bonus
      button.clothing-bonus__button(aria-label="nb clothing bonus: +1 effectiveness for every clothing item")
    .bonus.clothing-bonus
      button.clothing-bonus__button(aria-label="english degree (book icon) (+1 to creativity)")
.description
  p I have a passion for collaborating with others who care about creating equitable spaces to create accessible websites and tools through Progressive Enhancement and universal design.