.intro
  h2.intro__heading Web Developer
  p.intro__description 5 years experience
  .info-wrapper
    .stats
      .weather
        .weather__button.tooltip-button(aria-label="" tabindex="0")
          img.weather__icon(src="" aria-hidden="true" alt="")
        p.weather-info.tooltip
          span.weather-info__temp
          span.weather-info__city
      .stats__item
        .stats__button(aria-label="nonbinary" tabindex="0")
          img.pride-icon(src="../assets/img/trans-flag.png" width="58px" height="29px" alt="" aria-hidden="true")
      .stats__item
        .stats__button.stats__button--book(aria-label="english degree" tabindex="0")
          img.book-icon(src="../assets/img/degree.png" width="58px" height="29px" alt="" aria-hidden="true")
    .profile-photo
      img.profile-photo__img(src="../assets/img/corinne-profile.png" width="272px" height="285px" alt="drawn image of me with shaved head, winged eyeline, and a dinosaur button up shirt")
.description
  p I have a passion for collaborating with others who care about developing equitable spaces and creating accessible websites through Progressive Enhancement and Universal Design.