.intro
  h2 Web Developer
  p 5 years experience
  .stats
    .weather
      button.weather__button(aria-describedby="icon-for-weather")
        img.weather__icon(src="")
      span.weather-tooltip(role="tooltip" id="icon-for-weather") 
      p.weather-info
        span.weather-info__temp
        span.weather-info__city
    .bonus.clothing-bonus
      button.clothing-bonus__button(aria-label="nb clothing bonus: +1 effectiveness for every clothing item")
    .bonus.clothing-bonus
      button.clothing-bonus__button(aria-label="english degree (book icon) (+1 to creativity)")
.description
  p I have a passion for collaborating with others who care about creating equitable spaces to create accessible websites and tools through Progressive Enhancement and universal design.