.tabs
  .tabs__nav(role="tablist")
    button.tabs__button(role="tab" aria-selected="true" id="tab-1" aria-controls="tab-panel-1" aria-label="Skills")
      img.tabs__nav-icon(src="../assets/img/tab-nav/skills.png" width="48px" height="48px" alt="" aria-hidden="true")
    button.tabs__button(role="tab" aria-selected="false" id="tab-2" aria-controls="tab-panel-2" aria-label="Tooling")
      img.tabs__nav-icon(src="../assets/img/tab-nav/tooling.png" width="48px" height="48px" alt="" aria-hidden="true")
    button.tabs__button(role="tab" aria-selected="false" id="tab-3" aria-controls="tab-panel-3" aria-label="Projects")
      img.tabs__nav-icon(src="../assets/img/tab-nav/projects.png" width="48px" height="48px" alt="" aria-hidden="true")
    button.tabs__button(role="tab" aria-selected="false" id="tab-4" aria-controls="tab-panel-4" aria-label="Interests")
      img.tabs__nav-icon(src="../assets/img/tab-nav/interests.png" width="48px" height="48px" alt="" aria-hidden="true")
    button.tabs__button(role="tab" aria-selected="false" id="tab-5" aria-controls="tab-panel-5" aria-label="Fuel")
      img.tabs__nav-icon(src="../assets/img/tab-nav/fuel.png" width="48px" height="48px" alt="" aria-hidden="true")
  .tabs__spacing
  .tabs__container(role="tabpanel" aria-hidden="false" id="tab-panel-1" aria-labelledby="tab-1")
    ul.inventory-list.inventory-list--skills
      li.inventory-list__item Node JS
      li.inventory-list__item ES5/ES6
      li.inventory-list__item React
      li.inventory-list__item TypeScript
      li.inventory-list__item HTML
      li.inventory-list__item Accessibility
      li.inventory-list__item CSS
      li.inventory-list__item Sass
      li.inventory-list__item CSS in JS
      li.inventory-list__item Mentoring
  .tabs__container(role="tabpanel" aria-hidden="true" id="tab-panel-2" aria-labelledby="tab-2")
    ul.inventory-list.inventory-list--skills
      li.inventory-list__item Webpack
      li.inventory-list__item Babel
      li.inventory-list__item Mocha & Chai
      li.inventory-list__item Jest
      li.inventory-list__item Cypress
  .tabs__container(role="tabpanel" aria-hidden="true" id="tab-panel-3" aria-labelledby="tab-3")
    ul.inventory-list.inventory-list--projects
      li.inventory-list__item
        a(tabindex="-1" href="https://github.com/corinneling/whirligiggle")
          img(src="../assets/img/projects/carousel.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Whirligiggle: Accessible Carousel
      li.inventory-list__item
        a(tabindex="-1" href="https://docs.google.com/presentation/d/1s-Fl5Uv_IEp-aYiecrXmXLFHgxtmFO4lxGhWMnWLle8/edit?usp=sharing")
          img(src="../assets/img/projects/accessibility.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Accessibility Advocacy Conference Presentation
      li.inventory-list__item
        a(tabindex="-1" href="https://github.com/corinneling/frontend-test-env")
          img(src="../assets/img/projects/testing.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Frontend Test Environment
      li.inventory-list__item
        a(tabindex="-1" href="https://sparkbox.com/foundry/semantic_tags_aria_attributes_descriptive_links_for_website_accessibility")
          img(src="../assets/img/projects/accordian.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Accessible Components with Progressive Enhancement
      li.inventory-list__item
        a(tabindex="-1" href="https://docs.google.com/document/d/1iVnWE70IieuXIdrnnQyQII_Mw5Bbw4QQvEo4iQkvcuY/edit?usp=sharing")
          img(src="../assets/img/projects/spider.png" width="112px" height="112px")
          p Website Workshop: Become a Coding Spider
  .tabs__container(role="tabpanel" aria-hidden="true" id="tab-panel-4" aria-labelledby="tab-4")
    ul.inventory-list.inventory-list--interests
      li.inventory-list__item 
        img(src="../assets/img/interests/painting.png" width="112px" height="112px" alt="" aria-hidden="true")
        p Painting
      li.inventory-list__item 
        img(src="../assets/img/interests/reading.png" width="112px" height="112px" alt="" aria-hidden="true")
        p Reading
      li.inventory-list__item 
        img(src="../assets/img/interests/hiking.png" width="112px" height="112px" alt="" aria-hidden="true")
        p Hiking
      li.inventory-list__item 
        img(src="../assets/img/interests/cats.png" width="112px" height="112px" alt="" aria-hidden="true")
        p My two cats
      li.inventory-list__item 
        img(src="../assets/img/interests/gaming.png" width="112px" height="112px" alt="" aria-hidden="true")
        p Video Games
      li.inventory-list__item 
        img(src="../assets/img/interests/plants.png" width="112px" height="112px" alt="" aria-hidden="true")
        p Plants
  .tabs__container(role="tabpanel" aria-hidden="true" id="tab-panel-5" aria-labelledby="tab-5")
    ul.inventory-list.inventory-list--skills.food-items
      li.inventory-list__item
        button.food(tabindex="-1") 
          img(src="../assets/img/fuel/cereal.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Cereal
      li.inventory-list__item
        button.food(tabindex="-1") 
          img(src="../assets/img/fuel/pierogis.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Pierogi
      li.inventory-list__item 
        button.food(tabindex="-1") 
          img(src="../assets/img/fuel/brussel_sprouts.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Brussel Sprouts
      li.inventory-list__item
        button.food(tabindex="-1")
          img(src="../assets/img/fuel/redBeans_rice.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Red Beans & Rice
      li.inventory-list__item
        button.food(tabindex="-1")
          img(src="../assets/img/fuel/waffles.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Waffles
      li.inventory-list__item 
        button.food(tabindex="-1") 
          img(src="../assets/img/fuel/burrito.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Burritos
      li.inventory-list__item 
        button.food(tabindex="-1") 
          img(src="../assets/img/fuel/sushi.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Sushi
      li.inventory-list__item
        button.food(tabindex="-1") 
          img(src="../assets/img/fuel/swedishFish.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Sweedish Fish
      li.inventory-list__item
        button.food(tabindex="-1") 
          img(src="../assets/img/fuel/tea.png" width="112px" height="112px" alt="" aria-hidden="true")
          p Tea
    .reset-container
      button.reset-hearts(aria-label="critical hit. reset hearts" tabindex="-1")
        img(src="../assets/img/cute-skull.svg" aria-hidden="true" alt="")