extends ../layout

block variables
  - let title = '';
  - let description = '';

block content
  .site-container
    .background-container
      .background-img
    .content
      header
        include ../hearts.pug
        .welcome-container
          h1 Hi, I'm Corinne!
        include ../days.pug
      main
        section.profile
          include ../profile.pug
        section.inventory
          include ../tabs.pug
    footer
      .social-container
        a.social-link(href="https://github.com/corinneling") Github
        a.social-link(href="https://codepen.io/corinneling") Codepen