extends ../layout

block variables
  - let title = '';
  - let description = '';

block content
  .site-container
    .background
    .content
      header
        .heart-container(aria-label="5 life hearts, 4 filled")
          .heart.heart--one
            img(src="../assets/img/heart-1.svg")
          .heart.heart--two
            img(src="../assets/img/heart-1.svg")
          .heart.heart--three
            img(src="../assets/img/heart-1.svg")
          .heart.heart--four
            img(src="../assets/img/heart-2.svg")
          .heart.heart--five
            img(src="../assets/img/heart-3.svg")
        .welcome-container
          h1 Hi, I'm Corinne!
        .rupees-container
          .rupee
          p add something here
      main
        section.profile
          .intro
            h2 Web Developer
            p 5 years experience
            ul
              li something
              li something
              li something
          .description
            p I have a passion for collaborating with others to create quality websites and tools, through Progressive Enhancement, accessibility, and meaningful user interfaces.
        section.inventory
          .accordion
            .accordion__button-container
              button.accordion__button(aria-expanded="true" aria-controls="ac-skills" aria-label="Skills") 
                img.ac__img.ac__img--sword(src="../assets/img/sword.svg")
              button.accordion__button(aria-expanded="false" aria-controls="ac-projects" aria-label="Projects")
                img.ac__img(src="../assets/img/potion.svg")
              button.accordion__button(aria-expanded="false" aria-controls="ac-strengths" aria-label="Strengths") 
                img.ac__img(src="../assets/img/shield.svg")
              button.accordion__button(aria-expanded="false" aria-controls="ac-values" aria-label="Values")
                img.ac__img(src="../assets/img/star.svg")
              button.accordion__button(aria-expanded="false" aria-controls="ac-love" aria-label="Love")
                img.ac__img(src="../assets/img/mushroom.svg")
            
            div.accordion__content(id="ac-skills" aria-hidden="false")
              ul.skills-list
                li.skills-list__item ES6
                li.skills-list__item React
                li.skills-list__item TypeScript
                li.skills-list__item Mocha & Chai
                li.skills-list__item Jest
                li.skills-list__item HTML
                li.skills-list__item Accessibility
                li.skills-list__item Sass
                li.skills-list__item CSS in JS
            div.accordion__content(id="ac-projects" aria-hidden="true")
              ul
                li
                  a(href="https://github.com/corinneling/whirligiggle") Whirligiggle
                  span An accessible, performant, mobile friendly carousel 
                li 
                  a(href="https://docs.google.com/presentation/d/1s-Fl5Uv_IEp-aYiecrXmXLFHgxtmFO4lxGhWMnWLle8/edit?usp=sharing") Accessibility Advocacy Presentation
                  span Presentation given at Sparkbox's Unconf Virtual Conference about how to integrate accessibilty into the development processa and continually advocate for it
                li 
                  a(href="https://github.com/corinneling/frontend-test-env") Frontend Test Environment
                  span A test environment using Jest and DOM testing library to test ES6 based frontend components
                li
                  a(href="https://sparkbox.com/foundry/semantic_tags_aria_attributes_descriptive_links_for_website_accessibility") Build Accessible Components with Progressive Enhancement
                  span Video series on how to build accessible components that are dependent on JS by taking a progressive enhancemnt developement approach
            div.accordion__content(id="ac-strengths" aria-hidden="true")
              p content 3
            div.accordion__content(id="ac-values" aria-hidden="true")
              p content 4
            div.accordion__content(id="ac-love" aria-hidden="true")
              ul.skills-list
                li.skills-list__item Painting
                li.skills-list__item Reading (Comic Books, Fantasy, Non-fiction)
                li.skills-list__item Hiking
                li.skills-list__item My two cats
                li.skills-list__item Video Games
                li.skills-list__item Plants

    footer
      .social-container
        a.social-link(href="#") Github
        a.social-link(href="#") Codepen