extends ../layout

block variables
  - let title = 'Front End Web Developer | Corinne Ling';
  - let description = 'Experience with HTML, CSS, Sass, JS, React, and Testing. Certified Web Accessibility Specialist.';

block content
  .site-container
    .background-container
      .background-img
    .container
      header
        include ../hearts.pug
        .welcome-container
          h1 Hi, I'm Corinne!
        include ../days.pug
      main
        section.profile
          include ../profile.pug
        section.inventory
          include ../tabs.pug
      footer
        .attribute-container
          p icons by #[a(href="http://mollyschellenger.com") #[span Molly Schellenger]]
          p site inspired by Breath of the Wild
        .social-container
          a.social-link(href="https://github.com/corinneling") #[span Github]
          a.social-link(href="https://codepen.io/corinneling") #[span Codepen]