extends ../layout

block variables
  - let title = '';
  - let description = '';

block content
  .site-container
  .background
  .content
    header
      .heart-container
        .heart.heart--one
        .heart.heart--two
        .heart.heart--three
        .heart.heart--four
        .heart.heart--five
      .welcome-container
        h1 Hi, I'm Corinne!
      .rupees-container
        .rupee
        p add something here
    main
    footer

block footer-content