.cmp-card {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: $c-gray-2;
  border-radius: 1rem;

  @media (min-width: $bp-sm) {
    max-width: 80vw;
    margin: 8vh auto;
    padding: 1.5vh 8vh;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.125);
  }

  &__title {
    font-size: 2rem;
    margin: 2rem 0 1rem;

    @media (min-width: $bp-sm) {
      font-size: 3.875vw;
    }
  }

  &__subtitle {
    font-size: 1.35rem;
    line-height: 2;
    margin: 2rem 0;
  }
}
