<!doctype html>
<html lang="en">
<head>
  <title>Full Stack Web Developer | Corinne Ling</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/female-technologist.ico">
  <link rel="apple-touch-icon" href="/images/female-technologist.ico">
  <link rel="stylesheet" href="./css/base.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:500,700" rel="stylesheet">
</head>
<body>
  {{{ body }}}
</body>
</html>
