.intro {
	margin-top: 1rem;
	padding: 0 3rem;

	@media (min-width: 650px) {
		padding: 0;
	}
}

.description {
	padding: 1rem;
	border-radius: 0.25rem;
	margin-top: 2rem;
	background: rgba(155, 155, 155, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.5);
	position: relative;
	padding-right: 3rem;

	@media (min-width: 650px) {
		width: 110%;
	}

	&::before {
		background: none;
		border: 1px solid rgba(242, 242, 242, 0.25);
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		pointer-events: none;
	}

	p {
		@media (min-width: 650px) {
			padding-right: 2rem;
		}
	}
}

.profile-photo {
	display: inline-block;
	position: relative;
	width: 18.5rem;
	margin-left: 2rem;
	background: rgba(41, 38, 67, 0.8);
	border-radius: 50%;
	padding-top: 1rem;
	height: 18.5rem;

	&__img {
		max-width: 17rem;
		transform: rotateY(180deg);
		position: absolute;
    left: 0.875rem;
	}
}

.info-wrapper {
	margin: 1.5rem 0 0 2rem;
	display: flex;
	align-items: center;
}