.cmp-card {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  color: $c-gray-2;
  border-radius: 1rem;

  @media (min-width: $bp-sm) {
    max-width: 68rem;
    margin: 4rem auto 7rem;
    padding: 4rem;
    box-shadow: 2px 8px 20px -6px rgba(0, 0, 0, 0.2);
  }


  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.35rem;
    line-height: 2;
    margin: 2rem 0;
  }

  &__intro {
    display: block;
  }
}
