.intro {
	margin-top: 1rem;
	padding: 0 3rem;

	@media (min-width: 650px) {
		padding: 0;
	}
}

.description {
	padding: 1rem;
	border-radius: 0.25rem;
	margin-top: 3rem;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	position: relative;
	padding-right: 2rem;

	@media (min-width: 650px) {
		width: 110%;
	}

	&::before {
		background: none;
		border: 1px solid rgba(242, 242, 242, 0.25);
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		pointer-events: none;
	}

	p {
		@media (min-width: 650px) {
			padding-right: 2rem;
		}
	}
}