.l--site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-size: 400% 400%;
    background-position: 0% 50%;
    box-shadow: 4px 12px 8px -7px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to left, $c-green 0%, #81baff, $c-pink 100%);
    animation: gradientMove 5s ease-in infinite;
  }
}

.l--blog {
  max-width: 50rem;
  margin: auto;
  padding: 2rem;

  @media (min-width: $bp-sm) {
    padding: 0;
  }
}
