.l--site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.l--blog {
  margin: auto;
  padding: 2rem;
  position: relative;

  @media (min-width: $bp-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 60rem;
    padding: 0;
    margin: 2rem auto 6rem;
  }

  &::before {
    content: '';
    display: block;    
    height: 0;
    width: 0;
    position: absolute;
    top: -18rem;
    left: -27rem;
    transform: rotate(10deg);
    z-index: -2;
    border-left: 22rem solid transparent;
    border-right: 22rem solid transparent;
    border-top: 120rem solid #917af2;
  }

  &::after {
    content: '';
    display: block;    
    height: 0;
    width: 0;
    position: absolute;
    top: -18rem;
    left: -18rem;
    transform: rotate(10deg);
    z-index: -3;
    border-left: 22rem solid transparent;
    border-right: 22rem solid transparent;
    border-top: 120rem solid #1c133f;
  }


  h1 {
    color: #fff;
  }
}
