.l--site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  &.blog {
    background-color: #1c133f;
  }
}

.l--blog {
  margin: auto;
  padding: 2rem;
  position: relative;

  @media (min-width: $bp-sm) {
    box-sizing: border-box;
    max-width: 80rem;
    padding: 0;
    margin: 2rem auto 6rem;
  }

  h1 {
    color: #fff;
  }
}

.l--wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
