footer {
	width: 100%;
	padding: 2rem;
  background: rgba(36 ,42 ,37, 0.7);
	margin-top: 3rem;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(242, 242, 242, 0.25);
		height: 0.125rem;
	}  

	.social-container {
		display: flex;
		justify-content: flex-end;

		@media (max-width: 650px) {
			padding-bottom: 1rem;
			align-items: center;
			justify-content: center;
		}
	}
}

.social-link {
  color: white;
  margin-right: 3rem;
  position: relative;

	@media (max-width: 650px) {
		font-size: 1.25rem;
	}

	&:last-of-type {
		@media (max-width: 650px) {
			margin-right: 0;
		}
	}
}