footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 2rem;
	border-top: 1px solid #999;
}

.social-link {
  float: right;
}

.social-link {
  color: white;
  margin-right: 3.5rem;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: -0.125rem;
    right: -2rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #999;
    
  }
}