.stats {
	display: inline-block;
	position: relative;
	z-index: 2;

	button {
		font-size: 1rem;
	}
}

.stats__item {
	margin-bottom: 1.5rem;
	position: relative;
  display: flex;
  align-items: center;

  p {
    font-size: 1rem;
    display: inline-block;
    max-width: 70%;
    margin-left: 1rem;
  }
}

.stats__button {
  background: none;
  border: none;
  padding: 0;
	position: relative;

  &::after {
    content: attr(aria-label);
    display: none;
    position: absolute;
		bottom: 0.2rem;
    left: 110%;
		color: #fff;
		background: rgba(70, 70, 70, 0.664);
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
    border-radius: 0.125rem;
  }

	&--book::after {
		bottom: 0.25rem;
	}

  &:hover::after,
	&:hover::before,
  &:focus::after,
 	&:focus::before {
    display: block;
  }
}

.tooltip--stats {
	top: -1.5rem;
	left: -2.25rem;
	padding: 0 0.5rem;

	&::before {
		bottom: -0.35rem;
		left: 45%;
		border-left: 0.35rem solid transparent;
		border-right: 0.35rem solid transparent; 
		border-top: 0.35rem solid rgba(242, 242, 242, 0.25); 
	}
}

.book-icon {
	width: 58px;
}

.pride-icon {
	width: 58px;
	margin-left: -0.25rem;
}