.cmp-social {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;

  &__item {
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 3rem;
    background-color: #222;
    border: 2px solid #222;
    transform: translateY(-1.75rem);
    transition: transform 100ms linear 0s;

    &:hover {
      transform: translateY(-1.75rem) scale(1.1);
      border: 2px solid #fff;
    }
  }

  &__icon {
    position: relative;
    top: 0.25rem;
    height: 1.25rem;
    width: 1.25rem;

    @media (min-width: $bp-sm) {
      height: 1.5rem;
      width: 1.5rem;
    }

    &--codepen {
      stroke: $c-green;
    }

    &--github {
      stroke: #81baff;
    }

    &--email {
      stroke: $c-pink;
    }
  }
}
