.cmp-gradient {
  position: relative;
  color: #222;
  z-index: 2;
  padding: 0.1em;
  margin-left: 0.4rem;

  display: inline-block;

  @media (min-width: $bp-sm) {
    display: initial;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0em;
    left: -0.2rem;
    width: 102%;
    height: 105%;
    z-index: -1;
    background-size: 400% 400%;
    background-position: 0% 50%;
    box-shadow: 4px 12px 8px -7px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to left, $c-green 0%, #81baff, $c-pink 100%);
    animation: gradientMove 5s ease-in infinite;
  }
}
    