
.tabs__nav {
	display: flex;
	justify-content: space-evenly;
	max-width: 50rem;
	margin: auto;
	justify-self: center;
	padding: 1rem 0;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 80%;
		background-color: rgba(242, 242, 242, 0.25);
		height: 0.125rem;
	}
}

.tabs__button {
	color: white;
	background-color: transparent;
	padding: 0.5rem;
	border: none;
	border-bottom: 1px solid transparent;
	position: relative; 

  &::before {
    content: attr(aria-label);
    font-family: 'Victor Mono';
		transform: translateX(-120%);
    position: absolute;
		opacity: 0;
		top: -1.5rem;
    left: 0;
		color: white;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
		font-weight: bold;
    border-radius: 0.125rem;
		transition: all 500ms cubic-bezier(.16,-0.7,.34,.97);
		transform-origin: 0% 50%;

		@media (min-width: 650px) {
			font-size: 0.875rem;
		}
  }
	
	&::after {
		content: '';
		position: absolute; 
		transform: scale(0, 1);
		bottom: -1.15rem;
		left: 1rem;
		height: 0.4rem;
		width: 1rem;
		background: #999;
		z-index: 1;
		transition: all 250ms ease-in-out;
				transform-origin: 0% 50%;
	}
	
	&:hover::before,
	&[aria-selected="true"]::before,
	&:focus::before {
		opacity: 1;
		transform: translateX(0);
	}

	&:hover::after,
	&[aria-selected="true"]::after,
  &:focus::after {
		opacity: 1;
		transform: scale(1, 1) translateX(0.5rem);
	}

	&[aria-selected="true"]::after {
		bottom: -1.15rem;
		left: 1rem;
		height: 0.4rem;
		width: 2.125rem;
		border-radius: 0;
		transform: scale(1, 1) translateX(0);
	}

	&[aria-label="Skills"]::before {
		left: -0.125rem
	}

	&[aria-label="Projects"]::before,
	&[aria-label="Tooling"]::before {
		left: -0.5rem
	}

	&[aria-label="Interests"]::before {
		left: -0.875rem
	}
}

.tabs__nav-icon {
	max-width: 3rem;
	pointer-events: none;
}

.ac__img {
	height: 2.5rem;
	width: 2.5rem;
	pointer-events: none;
	overflow: hidden;

	&--sword {
		transform: rotate(180deg);
	}
}

.tabs__container {
	overflow: hidden;
	position: relative;

	&[aria-hidden='false'] {
		height: auto;
		opacity: 1;
		padding-top: 0.5rem;
		transform: scale(1);
		transform-origin: 50% 50%;
		transition: all 800ms cubic-bezier(.16,-0.7,.34,.97);
	}
	
	&[aria-hidden='true'] {
		height: 0;
		opacity: 0;
		transform: scale(0.85);
		transform-origin: 50% 50%;
		transition: all 800ms cubic-bezier(.16,-0.7,.34,.97);
	}
}

.tabs__spacing {
	margin-top: 2rem;	
}

.tabs {
	overflow: hidden;
}
