.intro {
	margin-top: 1rem;
}

.description {
	padding: 1rem;
	border-radius: 0.25rem;
	margin-top: 3rem;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	position: relative;
	width: 110%;
	padding-right: 2rem;

	&::before {
		background: none;
		border: 1px solid rgba(242, 242, 242, 0.25);
		content: "";
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		pointer-events: none;
	}

	p {
		font-size: 1rem;
	}
}

.stats {
	margin: 1.5rem 0 2rem 2rem;

	button {
		font-size: 1rem;
	}
}

.bonus {
	margin-bottom: 1.5rem;
}

.clothing-bonus {
	position: relative;

	&__button {
		position: relative;
		background: transparent;
		border: none;
		color: white;
		height: 1.75rem;
		width: 1.75rem;
		margin-right: 0.75rem;
		transition: all 500ms linear;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='nonzero'%3E%3Cpath d='M30 16.63c-3.917 0-7.237-1.759-7.893-4.174a1.925 1.925 0 00-.983-1.226 2.066 2.066 0 00-1.659-.112l-9.358 3.325a2.973 2.973 0 00-1.582 1.278L.437 29.039a2.969 2.969 0 00.242 3.447C2.269 34.415 7.467 36.3 13 37.009V55c0 3.687 9.04 5 17.5 5C40.986 60 47 58.178 47 55V36.857c5.091-.825 10.876-2.612 12.319-4.368a2.97 2.97 0 00.245-3.448l-8.086-13.315a2.961 2.961 0 00-1.578-1.278l-2.66-.948A7.461 7.461 0 0152 12a1 1 0 000-2c-7.878 0-8-8.634-8-9a1 1 0 00-2-.027V1c0 .368-.091 9-8 9a1 1 0 000 2 7.917 7.917 0 013.754.855c-.899 2.21-4.06 3.775-7.754 3.775zm19.766.129l8.091 13.323a.974.974 0 01-.08 1.133c-.762.928-5.142 2.676-10.777 3.618V30a1 1 0 00-2 0v25c0 .94-3.651 3-14.5 3C18.816 58 15 55.769 15 55V30a1 1 0 00-2 0v4.994c-5.625-.752-9.826-2.625-10.781-3.783a.974.974 0 01-.074-1.132l8.092-13.324c.12-.2.307-.35.528-.422l9.41-3.361c.9 3.331 4.944 5.658 9.825 5.658 4.346 0 8.019-1.847 9.387-4.57C41.939 16.639 42 20.751 42 21a1 1 0 002 .027V21a11.674 11.674 0 011.759-5.9l3.488 1.238a.97.97 0 01.519.421zM43 5.966A9.5 9.5 0 0047.446 11 9.5 9.5 0 0043 16.034 9.5 9.5 0 0038.554 11 9.5 9.5 0 0043 5.966z'/%3E%3Cpath d='M34 37c0-.286.1-7 6-7a1 1 0 000-2c-5.9 0-6-6.716-6-7v-.006A1 1 0 1032 21c0 .286-.1 7-6 7a1 1 0 000 2c5.9 0 6 6.716 6 7v.006A1 1 0 0034 37zm-4.026-8A7.638 7.638 0 0033 25.527 7.638 7.638 0 0036.026 29 7.638 7.638 0 0033 32.473 7.638 7.638 0 0029.974 29zM37 39v2a1 1 0 002 0v-2a1 1 0 00-2 0zM38 44a1 1 0 00-1 1v2a1 1 0 002 0v-2a1 1 0 00-1-1zM42 42h-2a1 1 0 000 2h2a1 1 0 000-2zM36 42h-2a1 1 0 000 2h2a1 1 0 000-2z'/%3E%3C/g%3E%3C/svg%3E");
	
		&::before {
			content: '';
			display: none;
			position: absolute;
			width: 0; 
			height: 0; 
			z-index: 2;
			top: 0.6rem;
			left: 2rem;
			border-top: 0.5rem solid transparent;
			border-bottom: 0.5rem solid transparent; 
			border-right: 0.5rem solid rgba(242, 242, 242, 0.25); 
		}

		&::after {
			content: attr(aria-label);
			display: none;
			position: absolute;
			z-index: 2;
			top: -0.5rem;
			left: 2.5rem;
			width: 18rem;
			padding: 0.5rem;
			border-radius: 0.25rem;
			background: rgba(242, 242, 242, 0.25);
			color: white;
			font-size: 0.875rem;
			text-align: left;
			line-height: 1.25;
		}
		
		&:hover::before, 
		&:focus::before,
		&:hover::after, 
		&:focus::after {  
			display: block;
		}
	}
}

.weather {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 1.5rem;

	&__button {
		background: none;
		border: none;
		margin-left: -0.5rem;
		padding: 0;
	}

	&__icon {
		height: 3rem;
		width: 3rem;
		margin-right: 0.5rem;
		position: relative;

		&::before {
			content: attr(aria-label);
			font-family: 'Victor Mono';
			position: absolute;
			display: none;
			opacity: 0;
			top: -1.5rem;
			left: 0;
			color: white;
			font-size: 0.875rem;
			line-height: 1.5;
			white-space: nowrap;
		}

		&:hover::before {
			display: block;
		}
	}
}

.weather-tooltip {
	display: none;
	position: absolute;
	z-index: 2;
	top: -1rem;
	left: -2.25rem;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
	background: rgba(242, 242, 242, 0.25);
	color: white;
	font-size: 0.875rem;

	&::before {
		content: '';
		display: none;
		position: absolute;
		bottom: -0.35rem;
		left: 2.75rem;
		width: 0; 
		height: 0; 
		border-left: 0.35rem solid transparent;
		border-right: 0.35rem solid transparent; 
		border-top: 0.35rem solid rgba(242, 242, 242, 0.25); 
	}
}

.weather__button:hover + .weather-tooltip, 
.weather__button:hover + .weather-tooltip::before, 
.weather__button:focus + .weather-tooltip,
.weather__button:focus + .weather-tooltip::before {  
	display: block;
}

.weather-info {
	display: inline-block;

	&__temp {
		position: relative;

		&::after {
			content: "\2109";
			position: absolute;
			font-size: 0.75rem;
			font-family: sans-serif;
			top: 0rem;
			right: -1.25rem;
			height: 1rem;
			width: 1rem;
		}
	}

	&__city {
		margin-left: 0.875rem;
	}
}

.pride-icon {
	height: 2rem;
	width: 2rem;
}