.js-add-underline a {
  text-decoration: underline !important;
}

.js-add-letterspacing {
  letter-spacing: 1px !important;
}

.js-add-lineheight {
  line-height: 1.75 !important;
}

.js-add-Dyslexie {
  font-family: 'Dyslexie' !important;
}