header {
	padding: 2rem;
	color: white;
	background: rgba(36 ,42 ,37, 0.7);
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	position: relative;
	margin-bottom: 2rem;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(242, 242, 242, 0.25);
		height: 0.125rem;
	}

	@media (min-width: 569px) {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	
	& h1 {
		margin: 0;
	}

	[role="tooltip"] {
		display: none;
		position: absolute;
		z-index: 2;
		bottom: -1.5rem;
		padding: 0.125rem 0.5rem;
		border-radius: 0.25rem;
		background: rgba(242, 242, 242, 0.25);
		color: white;
		font-size: 0.875rem;

		&::before {
			content: '';
			display: none;
			position: absolute;
			top: -0.5rem;
			left: 50%;
			width: 0; 
			height: 0; 
			border-left: 0.5rem solid transparent;
			border-right: 0.5rem solid transparent; 
			border-bottom: 0.5rem solid rgba(242, 242, 242, 0.25); 
		}
	}
	
	button:hover + [role="tooltip"], 
	button:hover + [role="tooltip"]::before, 
	button:focus + [role="tooltip"],
	button:focus + [role="tooltip"]::before {  
		display: block;
	}
}

.heart-container {
	grid-column: span 1;
	position: relative;
	top: -2rem;
	display: flex;
	justify-content: center;

	.hearts {
		width: 11rem;
		background: transparent;
		border: none;
		transition: all 200ms linear;
		cursor: pointer;

		&:hover {
			transform: scale(1.05);
		}
	}

	@media (min-width: 569px) {
		top: 0;
		margin-top: 0;
	}

	.heart {
		height: 1.125rem;
		width: 1.125rem;
		display: inline-block;
		background-image: url("data:image/svg+xml,	%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23D2122E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='heart'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'%3E%3C/path%3E%3C/svg%3E");
		margin-right: 0.25rem;
	}
}

.welcome-container {
	grid-column: span 3;
	text-align: center;
	margin-top: 1rem;

	@media (min-width: 569px) {
		margin-top: 0;
	}
}

.days-container {
	grid-column: span 1;
	text-align: right;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.days-button {
		background: transparent;
		border: none;
		color: white;
		font-size: 1.25rem;
		display: flex;
    align-items: center;
		font-family: 'Victor Mono';
		position: relative;
		transition: all 200ms linear;

		&:hover {
			transform: scale(1.05);
		}

		&:hover::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384'%3E%3Cpath fill='%23ffd800' d='M101.488 78.864L78.864 56.24c-6.24-6.248-16.384-6.248-22.624 0-6.248 6.248-6.248 16.376 0 22.624l22.624 22.624a15.923 15.923 0 0011.312 4.688c4.096 0 8.192-1.56 11.312-4.688 6.248-6.248 6.248-16.376 0-22.624zM48 176H16c-8.832 0-16 7.168-16 16s7.168 16 16 16h32c8.832 0 16-7.168 16-16s-7.168-16-16-16zM101.488 282.512c-6.24-6.248-16.384-6.248-22.624 0L56.24 305.136c-6.248 6.248-6.248 16.376 0 22.624 3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688l22.624-22.624c6.248-6.248 6.248-16.376 0-22.624zM192 320c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16s16-7.168 16-16v-32c0-8.832-7.168-16-16-16zM327.76 305.136l-22.624-22.624c-6.24-6.248-16.384-6.248-22.624 0-6.248 6.248-6.248 16.376 0 22.624l22.624 22.624c3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688c6.248-6.248 6.248-16.376 0-22.624zM368 176h-32c-8.832 0-16 7.168-16 16s7.168 16 16 16h32c8.832 0 16-7.168 16-16s-7.168-16-16-16zM327.76 56.24c-6.24-6.248-16.384-6.248-22.624 0l-22.624 22.624c-6.248 6.248-6.248 16.376 0 22.624 3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688l22.624-22.624c6.248-6.248 6.248-16.376 0-22.624zM192 0c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16s16-7.168 16-16V16c0-8.832-7.168-16-16-16zM192 88c-57.344 0-104 46.656-104 104s46.656 104 104 104 104-46.656 104-104S249.344 88 192 88zm0 176c-39.696 0-72-32.304-72-72s32.304-72 72-72 72 32.304 72 72-32.304 72-72 72z'/%3E%3C/svg%3E");background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384'%3E%3Cpath fill='%23ffd800' d='M101.488 78.864L78.864 56.24c-6.24-6.248-16.384-6.248-22.624 0-6.248 6.248-6.248 16.376 0 22.624l22.624 22.624a15.923 15.923 0 0011.312 4.688c4.096 0 8.192-1.56 11.312-4.688 6.248-6.248 6.248-16.376 0-22.624zM48 176H16c-8.832 0-16 7.168-16 16s7.168 16 16 16h32c8.832 0 16-7.168 16-16s-7.168-16-16-16zM101.488 282.512c-6.24-6.248-16.384-6.248-22.624 0L56.24 305.136c-6.248 6.248-6.248 16.376 0 22.624 3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688l22.624-22.624c6.248-6.248 6.248-16.376 0-22.624zM192 320c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16s16-7.168 16-16v-32c0-8.832-7.168-16-16-16zM327.76 305.136l-22.624-22.624c-6.24-6.248-16.384-6.248-22.624 0-6.248 6.248-6.248 16.376 0 22.624l22.624 22.624c3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688c6.248-6.248 6.248-16.376 0-22.624zM368 176h-32c-8.832 0-16 7.168-16 16s7.168 16 16 16h32c8.832 0 16-7.168 16-16s-7.168-16-16-16zM327.76 56.24c-6.24-6.248-16.384-6.248-22.624 0l-22.624 22.624c-6.248 6.248-6.248 16.376 0 22.624 3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688l22.624-22.624c6.248-6.248 6.248-16.376 0-22.624zM192 0c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16s16-7.168 16-16V16c0-8.832-7.168-16-16-16zM192 88c-57.344 0-104 46.656-104 104s46.656 104 104 104 104-46.656 104-104S249.344 88 192 88zm0 176c-39.696 0-72-32.304-72-72s32.304-72 72-72 72 32.304 72 72-32.304 72-72 72z'/%3E%3C/svg%3E");
			transform: rotate(120deg);
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -2rem;
			height: 1.75rem;
			width: 1.75rem;
			margin-right: 0.75rem;
			transition: all 500ms linear;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384'%3E%3Cpath fill='%23fff' d='M101.488 78.864L78.864 56.24c-6.24-6.248-16.384-6.248-22.624 0-6.248 6.248-6.248 16.376 0 22.624l22.624 22.624a15.923 15.923 0 0011.312 4.688c4.096 0 8.192-1.56 11.312-4.688 6.248-6.248 6.248-16.376 0-22.624zM48 176H16c-8.832 0-16 7.168-16 16s7.168 16 16 16h32c8.832 0 16-7.168 16-16s-7.168-16-16-16zM101.488 282.512c-6.24-6.248-16.384-6.248-22.624 0L56.24 305.136c-6.248 6.248-6.248 16.376 0 22.624 3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688l22.624-22.624c6.248-6.248 6.248-16.376 0-22.624zM192 320c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16s16-7.168 16-16v-32c0-8.832-7.168-16-16-16zM327.76 305.136l-22.624-22.624c-6.24-6.248-16.384-6.248-22.624 0-6.248 6.248-6.248 16.376 0 22.624l22.624 22.624c3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688c6.248-6.248 6.248-16.376 0-22.624zM368 176h-32c-8.832 0-16 7.168-16 16s7.168 16 16 16h32c8.832 0 16-7.168 16-16s-7.168-16-16-16zM327.76 56.24c-6.24-6.248-16.384-6.248-22.624 0l-22.624 22.624c-6.248 6.248-6.248 16.376 0 22.624 3.12 3.128 7.216 4.688 11.312 4.688s8.192-1.56 11.312-4.688l22.624-22.624c6.248-6.248 6.248-16.376 0-22.624zM192 0c-8.832 0-16 7.168-16 16v32c0 8.832 7.168 16 16 16s16-7.168 16-16V16c0-8.832-7.168-16-16-16zM192 88c-57.344 0-104 46.656-104 104s46.656 104 104 104 104-46.656 104-104S249.344 88 192 88zm0 176c-39.696 0-72-32.304-72-72s32.304-72 72-72 72 32.304 72 72-32.304 72-72 72z'/%3E%3C/svg%3E");
		}
	}
}
