@import url('https://fonts.googleapis.com/css?family=Comfortaa:400|Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.65;
  font-family: 'Comfortaa', cursive;

  @media (min-width: $bp-sm) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.65;
  font-family: 'Comfortaa', cursive;
  
  @media (min-width: $bp-sm) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-family: 'Playfair Display', serif;

  @media (min-width: $bp-sm) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5,
h6 {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
  margin: 0.25rem;
  line-height: 1.5;
}
