@font-face {
  font-family: "Victor Mono";
  font-style: normal;
  src: url(../assets/font/VictorMono-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Victor Mono";
  font-style: italic;
  src: url(../assets/font/VictorMono-BoldItalic.otf) format("opentype");
}

body {
  margin: 0;
  font-family: 'Victor Mono';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.65;

  @media (min-width: $bp-sm) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.65;
  
  @media (min-width: $bp-sm) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.25rem;

  @media (min-width: $bp-sm) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5,
h6 {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
  margin: 0.25rem;
  line-height: 1.5;
}
