* {
	box-sizing: border-box;
}

.site-container {
	width: 100vw;
	height: 100vh;
}

.background {
	height:100%;
	width: 100%;
  filter: blur(2px);
  background: linear-gradient(to right, rgba(36 ,42 ,37, 0.9), rgba(36 ,42 ,37, 0.9)), url('../assets/img/dark-forest.jpeg') no-repeat top center;
	background-size: cover;
}

.content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
}

main {
	display: grid;
	align-items: stretch;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	color: white;

  .profile {
    order: 1;
    grid-column: span 2;
  }

  .inventory {
    order: 0;
    grid-column: span 3;
  }
}


