* {
	box-sizing: border-box;
}

.background-container {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	z-index:-1;
}

.background-img {
	filter: blur(2px);
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
	background: linear-gradient(to right, rgba(36 ,42 ,37, 0.8), rgba(36 ,42 ,37, 0.8)), url(https://images.unsplash.com/photo-1566680609736-94fdf5a6cc3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed; 
	background-size: cover;
}

.site-container {
	width: 100vw;
	overflow: hidden;
}

.container {
	position: absolute; 
	top: 0;
	left: 0;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	width: 100vw;
  height: 100vh;
}

header {
	grid-row-end: span 1fr;
}

footer {
	grid-row-end: span 1fr;
}

main {
	align-items: stretch;
	color: white;
	grid-row-end: span 3fr;


	@media (min-width: 650px) {
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

  .profile {
    order: 1;
    grid-column: span 2;
		margin-bottom: 3rem;

		@media (min-width: 650px) {
			margin-bottom: 1rem;
		}
  }

  .inventory {
    order: 0;
    grid-column: span 4;
  }
}


